*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
.search-input input{
    width: 100%;
    max-width: 300px;
    
}